.hero-section {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
}

.hero-section h1 span {
  color: #ffc107;
}

.review-bg {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
    url("https://images.unsplash.com/photo-1519681393784-d120267933ba");
  background-size: cover;
}


/* tttttttttt */

.home-banner {
  background-color: #ffd000 !important;
  padding: 12rem 0;
}

.banner-car {
  max-width: 100%;
  animation: floatCar 3s ease-in-out infinite;
}

@keyframes floatCar {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}


/* eeeeeeeeeeee */